@if (User.Identity.IsAuthenticated)
{
    <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
        <button type="submit" class="btn btn-success">Sair</button>
    </form>
}
else
{
    <a asp-controller="Account" asp-action="Login" class="btn btn-success">
        Entrar
    </a>
}