@if (User.Identity.IsAuthenticated)
{
    <div class="row">
        <div class="col-md-12">
            <h1>Bem vindo, @User.Claims.FirstOrDefault(c => c.Type == "Nome")?.Value!</h1>
            <p>Email: @User.Identity.Name</p>
        </div>
    </div>
}
else
{
    <h1>Bem vindo, ao sistema de autenticação LuizaLabs!</h1>
}
